
.blue_bar{
    padding: 30px 0px;
    background-color: $brand-color;
}
.details_container{
    max-width: 1140px;
    
    .first_description{
        margin: 300px 0px;
    }
    .second_description{

    }
}