.main_section{
    position: relative;
    .current_series{
        font-family: $font-family-PT;
        color: white;
        font-size: 27px;
        width: 200px;
        position: absolute;
        top: 0px;
        left: 0%;
        background-color: $brand-color;
        padding: 10px;
        text-align: center;
        transform: translateY(50%)
    }
    .card_cont_black{
        background-color: black;
        position: relative;
        
        .card_section{
            max-width: $container-width;
            margin: auto;
            padding: 40px 0px 20px 0px;
            .card_cont{
                width: calc((100% / 12) * 2);
                display: inline-block;
                padding: 15px;
                text-decoration: none;
                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: top;
                }
                
                p {
                    color: white;
                    margin: 0%;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    text-align: left;
                    font-size: 16px;
                    
                }
            }
            .cont_btn {
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                .btn_load_more {
                    background-color: $brand-color;
                    border: none;
                    padding: 10px 40px 10px 40px;
                    span{
                    color: white;
                    text-decoration: none;
                    font-family: $font-family-PT;
                    letter-spacing: $letter-spacing;
                    
                    }
                }
            }
        }
    }
}

.blue_section {
    padding: $section-padding;
    background-color: $brand-color;
    .my_cont_bluebar {
        margin: auto;
        max-width: $container-width;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: inline-block;
                padding: 10px;
                img{
                    width: 40px;
                    vertical-align: middle;
                }
                a{
                    color: rgb(255, 255, 255);
                    font-size: 14px;
                    text-decoration: none;
                    padding-left: 10px;
                }
            }
        }
    }
}